export SECRET_KEY="your-secret-key"
export ALGORITHM="HS256"

export DB_NAME="your-database-name"
export DB_USER="your-user-name"
export DB_PASSWORD="your-strong-password"
export DB_HOST="localhost"
export DB_PORT="5432"
