__pycache__/*
__pycache__

*.db

*.env

.idea/
vless://c3adfd5b-91ab-4875-9fda-af368bb17aa7@185.143.235.204:443?path=%2F1041&security=tls&alpn=h3%2Ch2%2Chttp%2F1.1&encryption=none&insecure=1&host=p1.massivegamesl01l1l01.ir&fp=firefox&type=ws&allowInsecure=1&sni=p1.massivegamesl01l1l01.ir#%F0%9F%87%A6%F0%9F%87%B2IneedInternet%E2%9C%85